<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502700807168-484a3e7889d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80);">
  <div class="container">
    <h1>Book a <strong>greek philosopher</strong> to <strong>enlighten your mind</strong>!</h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<h4>See the available philosophers <%= link_to "all philosophers", philosophers_path %></h4>
